nav {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #1b98ff;
    color: #fff;
}

nav a.active {
    background-color: #2031e0;
    color: #fff;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.5;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
/* styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
    nav {
        padding: 5px;
        margin-bottom: 10px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    nav li {
        margin: 5px 10px;
    }

    nav a {
        font-size: 16px;
        padding: 8px 16px;
    }

    h2 {
        font-size: 20px;
        margin-top: 20px;
    }

    section {
        padding: 10px;
        font-size: 16px;
    }

    .scroll-to-top {
        font-size: 16px;
        padding: 8px 16px;
    }
}

/* styles for screens larger than 768px */
@media screen and (min-width: 768px) {
    nav {
        margin-bottom: 30px;
    }

    nav ul {
        justify-content: center;
    }

    nav li {
        margin: 0 10px;
    }

    nav a {
        font-size: 18px;
        padding: 10px 20px;
    }

    h2 {
        font-size: 24px;
        margin-top: 30px;
    }

    section {
        margin-bottom: 30px;
        padding: 20px;
        font-size: 18px;
    }

    .scroll-to-top {
        font-size: 18px;
        padding: 10px 20px;
    }
}
.marginleft5px{
    margin-left: 10px;
}
.image-container{
    width:80%;
    height:60%;
}

ol {
    list-style-type: decimal;
    margin-left: 20px; /* adjust the margin as needed */
}

ol ol {
    list-style-type: lower-alpha;
    margin-left: 20px; /* adjust the margin as needed */
}