body {
  min-height: 100vh;
  background-color: dodgerblue;
}

.addusers {
  display: flex;

  .addusersContainer {
    flex: 6;
    margin: 20px;
  }
}

input {
  display: block;
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #fafafa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s box-shadow;
  width: 100%;
  margin: 10px 0;
  padding: 20px;
}
.form-group {
  padding: 15px;
  display: block;
}

.form-but {
  display: block;
  text-align: center;
}

.button {
  background-color: #4424bb;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
}

.button2 {
  background-color: #4424bb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.button3 {
  background-color: #4424bb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-left: 12%;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.formContainer {
  margin-left: 23%;
  margin-top: 10%;
  display: block;
  width: 50%;
}

body {
  width: 100%;
  margin: 0;
  // position: fixed;
  // overflow: hidden;
}

.body-container {
  width: 100vw;
  height: calc(100vh - 100px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.asd123{
  margin-left: 36%;
 margin-top: 4%;
  display: block;
}


.Form_btns{
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
  @media all and (max-width:768px){
    flex-direction: column;
    width: 100%;

    button{
      width: 100%;
    }
  }
}
