@import "/src/utilities/_variables.scss";

.users {
$en: false;
$pl: false;
$currentLanguage: "string";

@mixin language($lang) {
  @if $lang == 'en' {
    $en: true;
  } @else if $lang == 'pl' {
    $pl: true;
  }
}

@include language(currentLanguage);

$selectedColor: #000;

body {
  background: var(--selectedColor, $selectedColor);
}


  display: flex;

  .usersContainer {
    flex: 6;
    max-height: 75vh;
  }

  .button {
    border: none;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 3em;

    @media (max-width: $phoneMaxWidth) {
      position: relative;
      margin-top: 2em;
      margin-left: 1em;
    }
  }
}

@media (max-width: $phoneMaxWidth) {
  div.logout {
    display: block;
    padding-left: 30%;
  }

  .users {
    display: flex;

    //tweak this to make tables to load more content
    .usersContainer {
      flex: 6;
    }
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,


    //moves whole table row content
  tr {
    display: block;
    padding-right: 3%;
    text-align: right;
    text-decoration: solid;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    height: 100%;

    //does not do anything
    #text {
      position: absolute;
      text-align: right;
      background-color: black;
      left: 1000px;
    }
  }

  //moves the "columns"
  td:before {
    /* Now like a table header */
    display: block;
    position: absolute;
    /* Top/left values mimic padding */
    top: 1px;
    text-align: left;
    left: 1%;
    width: 45%;
    padding-right: 40px;
    padding-bottom: 100px;
    font-weight: bold;
    height: 100%;

    // padding-left: 100px;

    white-space: nowrap;
  }

  html[lang="pl"] {
    //your styles

    /*
    Label the data
    */
    #td--users:nth-of-type(1):before {
      content: "Rola";
    }
    #td--users:nth-of-type(2):before {
      content: "Imię";
    }
    #td--users:nth-of-type(3):before {
      content: "Nazwisko";
    }
    #td--users:nth-of-type(4):before {
      content: "Email";
    }
    #td--users:nth-of-type(5):before {
      content: "Akcje";
    }

    #td--groups:nth-of-type(1):before {
      content: "Nazwa" !important;
    }
    #td--groups:nth-of-type(2):before {
      content: "Opis" !important;
    }
    #td--groups:nth-of-type(3):before {
      content: "Akcje" !important;
    }

    #td--children:nth-of-type(1)::before {
      content: "Imię" !important;
    }  #td--children:nth-of-type(2)::before {
        content: "Nazwisko" !important;
      }  #td--children:nth-of-type(3)::before {
            content: "Grupa" !important;
          }  #td--children:nth-of-type(4)::before {
              content: "Akcje" !important;
            }

    #td--message:nth-of-type(1)::before {
      content: "Data" !important;
    }
    #td--message:nth-of-type(2)::before {
      content: "Od" !important;
    }
    #td--message:nth-of-type(3)::before {
      content: "Temat" !important;
    }
    #td--message:nth-of-type(4)::before {
      content: "Treść" !important;
    }
    #td--message:nth-of-type(5)::before {
      content: "Akcje" !important;
    }

    #td--gallery:nth-of-type(1)::before {
      content: "Grupa" !important;
    }
    #td--gallery:nth-of-type(2)::before {
      content: "Nazwa" !important;
    }
    #td--gallery:nth-of-type(3)::before {
      content: "Akcje" !important;
    }


    #td--group:nth-of-type(1)::before {
      content: "Rola" !important;
    }
    #td--group:nth-of-type(2)::before {
      content: "Imię" !important;
    }
    #td--group:nth-of-type(3)::before {
      content: "Nazwisko" !important;
    }
    #td--group:nth-of-type(4)::before {
      content: "Akcje" !important;
    }


    #td--addchildren:nth-of-type(1)::before {
      content: "Imię" !important;
    }
    #td--addchildren:nth-of-type(2)::before {
      content: "Nazwisko" !important;
    }
    #td--addchildren:nth-of-type(3)::before {
      content: "Akcje" !important;
    }


    #td--currentuser:nth-of-type(1)::before {
      content: "Imię" !important;
    }
    #td--currentuser:nth-of-type(2)::before {
      content: "Nazwa Klasy" !important;
    }

    #td--child:nth-of-type(1):before {
      content: "Imię";
    }
    #td--child:nth-of-type(2):before {
      content: "Nazwisko";
    }
    #td--child:nth-of-type(3):before {
      content: "Email";
    }
    #td--child:nth-of-type(4):before {
      content: "Akcje";
    }

    #td--children_user:nth-of-type(1)::before {
      content: "Imię" !important;
    }
    #td--children_user:nth-of-type(2)::before {
      content: "Nazwisko" !important;
    }
    #td--children_user:nth-of-type(3)::before {
      content: "Nazwa Klasy" !important;
    }
    #td--assignteacher:nth-of-type(1)::before {
      content: "Imię" !important;
    }
    #td--assignteacher:nth-of-type(2)::before {
      content: "Nazwisko" !important;
    }
    #td--assignteacher:nth-of-type(3)::before {
      content: "Email" !important;
    }
    #td--assignteacher:nth-of-type(4)::before {
      content: "Przypisz" !important;
    }
}


  html[lang="en"] {
    //your styles

    /*
    Label the data
    */
    #td--users:nth-of-type(1):before {
      content: "Role";
    }
    #td--users:nth-of-type(2):before {
      content: "Name";
    }
    #td--users:nth-of-type(3):before {
      content: "Last name";
    }
    #td--users:nth-of-type(4):before {
      content: "Email";
    }
    #td--users:nth-of-type(5):before {
      content: "Actions";
    }

    #td--groups:nth-of-type(1):before {
      content: "Name" !important;
    }
    #td--groups:nth-of-type(2):before {
      content: "Description" !important;
    }
    #td--groups:nth-of-type(3):before {
      content: "Actions" !important;
    }

    #td--children:nth-of-type(1)::before {
      content: "Name" !important;
    }  #td--children:nth-of-type(2)::before {
        content: "Last name" !important;
      }  #td--children:nth-of-type(3)::before {
            content: "Group" !important;
          }  #td--children:nth-of-type(4)::before {
              content: "Akcje" !important;
            }

    #td--message:nth-of-type(1)::before {
      content: "Date" !important;
    }
    #td--message:nth-of-type(2)::before {
      content: "From" !important;
    }
    #td--message:nth-of-type(3)::before {
      content: "Topic" !important;
    }
    #td--message:nth-of-type(4)::before {
      content: "Content" !important;
    }
    #td--message:nth-of-type(5)::before {
      content: "Actions" !important;
    }

    #td--gallery:nth-of-type(1)::before {
      content: "Group" !important;
    }
    #td--gallery:nth-of-type(2)::before {
      content: "Name" !important;
    }
    #td--gallery:nth-of-type(3)::before {
      content: "Actions" !important;
    }


    #td--group:nth-of-type(1)::before {
      content: "Role" !important;
    }
    #td--group:nth-of-type(2)::before {
      content: "Name" !important;
    }
    #td--group:nth-of-type(3)::before {
      content: "Last name" !important;
    }
    #td--group:nth-of-type(4)::before {
      content: "Actions" !important;
    }


    #td--addchildren:nth-of-type(1)::before {
      content: "Name" !important;
    }
    #td--addchildren:nth-of-type(2)::before {
      content: "Last name" !important;
    }
    #td--addchildren:nth-of-type(3)::before {
      content: "Actions" !important;
    }


    #td--currentuser:nth-of-type(1)::before {
      content: "Name" !important;
    }
    #td--currentuser:nth-of-type(2)::before {
      content: "Class name" !important;
    }

    #td--child:nth-of-type(1):before {
      content: "Name";
    }
    #td--child:nth-of-type(2):before {
      content: "Class name";
    }
    #td--child:nth-of-type(3):before {
      content: "Email";
    }
    #td--child:nth-of-type(4):before {
      content: "Actions";
    }

    #td--children_user:nth-of-type(1)::before {
      content: "Name" !important;
    }
    #td--children_user:nth-of-type(2)::before {
      content: "Last name" !important;
    }
    #td--children_user:nth-of-type(3)::before {
      content: "Class name" !important;
    }
    #td--assignteacher:nth-of-type(1)::before {
      content: "Name" !important;
    }
    #td--assignteacher:nth-of-type(2)::before {
      content: "Last name" !important;
    }
    #td--assignteacher:nth-of-type(3)::before {
      content: "Email" !important;
    }
    #td--assignteacher:nth-of-type(4)::before {
      content: "Assign" !important;
    }

  }



  html[lang="ua"] {
    //your styles

    /*
    Label the data
    */
    #td--users:nth-of-type(1):before {
      content: "Роль";
    }
    #td--users:nth-of-type(2):before {
      content: "Ім'я";
    }
    #td--users:nth-of-type(3):before {
      content: "Прізвище";
    }
    #td--users:nth-of-type(4):before {
      content: "Емейл";
    }
    #td--users:nth-of-type(5):before {
      content: "Дії";
    }

    #td--groups:nth-of-type(1):before {
      content: "Ім'я" !important;
    }
    #td--groups:nth-of-type(2):before {
      content: "Опис" !important;
    }
    #td--groups:nth-of-type(3):before {
      content: "Дії" !important;
    }

    #td--children:nth-of-type(1)::before {
      content: "Ім'я" !important;
    }  #td--children:nth-of-type(2)::before {
        content: "Прізвище" !important;
      }  #td--children:nth-of-type(3)::before {
            content: "Група" !important;
          }  #td--children:nth-of-type(4)::before {
              content: "Дії" !important;
            }

    #td--message:nth-of-type(1)::before {
      content: "Дата" !important;
    }
    #td--message:nth-of-type(2)::before {
      content: "Від" !important;
    }
    #td--message:nth-of-type(3)::before {
      content: "Тема" !important;
    }
    #td--message:nth-of-type(4)::before {
      content: "Вміст" !important;
    }
    #td--message:nth-of-type(5)::before {
      content: "Дії" !important;
    }

    #td--gallery:nth-of-type(1)::before {
      content: "Груп" !important;
    }
    #td--gallery:nth-of-type(2)::before {
      content: "Ім'я" !important;
    }
    #td--gallery:nth-of-type(3)::before {
      content: "Дії" !important;
    }


    #td--group:nth-of-type(1)::before {
      content: "Роль" !important;
    }
    #td--group:nth-of-type(2)::before {
      content: "Ім'я" !important;
    }
    #td--group:nth-of-type(3)::before {
      content: "Прізвище" !important;
    }
    #td--group:nth-of-type(4)::before {
      content: "Дії" !important;
    }


    #td--addchildren:nth-of-type(1)::before {
      content: "Ім'я" !important;
    }
    #td--addchildren:nth-of-type(2)::before {
      content: "Прізвище" !important;
    }
    #td--addchildren:nth-of-type(3)::before {
      content: "Дії" !important;
    }


    #td--currentuser:nth-of-type(1)::before {
      content: "Ім'я" !important;
    }
    #td--currentuser:nth-of-type(2)::before {
      content: "Назва класу" !important;
    }

    #td--child:nth-of-type(1):before {
      content: "Ім'я";
    }
    #td--child:nth-of-type(2):before {
      content: "Назва класу";
    }
    #td--child:nth-of-type(3):before {
      content: "Емейл";
    }
    #td--child:nth-of-type(4):before {
      content: "Дії";
    }

    #td--children_user:nth-of-type(1)::before {
      content: "Ім'я" !important;
    }
    #td--children_user:nth-of-type(2)::before {
      content: "Прізвище" !important;
    }
    #td--children_user:nth-of-type(3)::before {
      content: "Назва класу" !important;
    }
    #td--assignteacher:nth-of-type(1)::before {
      content: "Ім'я" !important;
    }
    #td--assignteacher:nth-of-type(2)::before {
      content: "Прізвище" !important;
    }
    #td--assignteacher:nth-of-type(3)::before {
      content: "Емейл" !important;
    }
    #td--assignteacher:nth-of-type(4)::before {
      content: "Призначати" !important;
    }
  }

}
