@import "/src/utilities/_variables.scss";
.users {
  display: flex;

  .usersContainer {
    flex: 6;
    max-height: 75vh;
  }

  .button {
    border: none;
    font-size: 20px;
    margin: 20px 0 20px 5%;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    @media (max-width: $phoneMaxWidth) {
      position: relative;
      bottom: 5%;
    }
  }
}

@media (max-width: $phoneMaxWidth) {
  div.logout {
    display: block;
    padding-left: 30%;
  }

  .users {
    display: flex;

    //tweak this to make tables to load more content
    .usersContainer {
      flex: 6;
    }
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,


    //moves whole table row content
  tr {
    display: block;
    padding-right: 3%;
    text-align: right;
    text-decoration: solid;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    height: 100%;

    //does not do anything
    #text {
      position: absolute;
      text-align: right;
      background-color: black;
      left: 1000px;
    }
  }

  //moves the "columns"
  td:before {
    /* Now like a table header */
    display: block;
    position: absolute;
    /* Top/left values mimic padding */
    top: 1px;
    text-align: left;
    left: 1%;
    width: 45%;
    padding-right: 40px;
    padding-bottom: 100px;
    font-weight: bold;
    height: 100%;

    // padding-left: 100px;

    white-space: nowrap;
  }

  /*
	Label the data
	*/
  #td--users:nth-of-type(1):before {
    content: "Rola";
  }
  #td--users:nth-of-type(2):before {
    content: "Imię";
  }
  #td--users:nth-of-type(3):before {
    content: "Nazwisko";
  }
  #td--users:nth-of-type(4):before {
    content: "Email";
  }
  #td--users:nth-of-type(5):before {
    content: "Akcje";
  }

  #td--groups:nth-of-type(1):before {
    content: "Nazwa" !important;
  }
  #td--groups:nth-of-type(2):before {
    content: "Opis" !important;
  }
  #td--groups:nth-of-type(3):before {
    content: "Akcje" !important;
  }

  #td--children:nth-of-type(1)::before {
    content: "Imie" !important;
  }  #td--children:nth-of-type(2)::before {
       content: "Nazwisko" !important;
     }  #td--children:nth-of-type(3)::before {
          content: "Grupa" !important;
        }  #td--children:nth-of-type(4)::before {
             content: "Akcje" !important;
           }

  #td--message:nth-of-type(1)::before {
    content: "Data" !important;
  }
  #td--message:nth-of-type(2)::before {
    content: "Od" !important;
  }
  #td--message:nth-of-type(3)::before {
    content: "Temat" !important;
  }
  #td--message:nth-of-type(4)::before {
    content: "Treść" !important;
  }
  #td--message:nth-of-type(5)::before {
    content: "Akcje" !important;
  }

  #td--gallery:nth-of-type(1)::before {
    content: "Grupa" !important;
  }
  #td--gallery:nth-of-type(2)::before {
    content: "Nazwa" !important;
  }
  #td--gallery:nth-of-type(3)::before {
    content: "Akcje" !important;
  }


  #td--group:nth-of-type(1)::before {
    content: "Rola" !important;
  }
  #td--group:nth-of-type(2)::before {
    content: "Imie" !important;
  }
  #td--group:nth-of-type(3)::before {
    content: "Nazwisko" !important;
  }
  #td--group:nth-of-type(4)::before {
    content: "Akcje" !important;
  }


  #td--addchildren:nth-of-type(1)::before {
    content: "Imie" !important;
  }
  #td--addchildren:nth-of-type(2)::before {
    content: "Nazwisko" !important;
  }
  #td--addchildren:nth-of-type(3)::before {
    content: "Akcje" !important;
  }


  #td--currentuser:nth-of-type(1)::before {
    content: "Imie" !important;
  }
  #td--currentuser:nth-of-type(2)::before {
    content: "Nazwa Klasy" !important;
  }

  #td--child:nth-of-type(1):before {
    content: "Imię";
  }
  #td--child:nth-of-type(2):before {
    content: "Nazwisko";
  }
  #td--child:nth-of-type(3):before {
    content: "Email";
  }
  #td--child:nth-of-type(4):before {
    content: "Akcje";
  }

  #td--children_user:nth-of-type(1)::before {
    content: "Imie" !important;
  }
  #td--children_user:nth-of-type(2)::before {
    content: "Nazwisko" !important;
  }
  #td--children_user:nth-of-type(3)::before {
    content: "Nazwa Klasy" !important;
  }
}
