$global-color: #007bff;


  form {
  width: 100vw;
  height: 100vh;


    .row {
        
      margin-bottom: 1rem;
      .col-md-3 {
        text-align: right;
        label {
          font-weight: bold;
        }
      }
      .col-md-9 {
        input {
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          line-height: 1.5;
          color: #495057;
          &::placeholder {
            color: #6c757d;
            opacity: 1;
          }
          &:focus {
            border-color: $global-color;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
        }
      }
    }
    .btn_global {
      background-color: $global-color;
      border-color: $global-color;
      &:hover {
        background-color: darken($global-color, 10%);
        border-color: darken($global-color, 10%);
      }
    }
  }

