@import "/src/utilities/_variables.scss";

.sidebar__list {
  overflow-y: scroll;
  height: 100vh;

  width: 300px;
  transition: width 0.3s, transform 0.3s;

  &--hidden {
    padding-top: 80px;
    width: 0px;
    transform: translateX(-300px);
    transition: width 0.3s, transform 0.3s;
    pointer-events: none;
  }
}

.sidebar__wrap {
  width: min-content;
  height: 100%;

  @media (max-width: $phoneMaxWidth) {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
  }
}

.sidebar {
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  width: min-content;
  background-color: white;
  transition: 0.8 ease-in;

  @media (max-width: $phoneMaxWidth) {
    float: right;
    width: auto;
    border-right: none;
      z-index: 1;

  }

  .top {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 25px;
      font-weight: bold;
      color: #4424bb;
    }
  }
  .navbar {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 5px;
  }

  .center {
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #e8e3f8;
        }

        .icon {
          font-size: 40px;
          color: #4424bb;
        }

        span {
          font-size: 25px;
          font-weight: 600;
          padding: 10px;
          color: #888;
          margin-left: 10px;
          align-content: buttom;
        }
        @media (max-width: $phoneMaxWidth) {
          span {
            font-size: 20px;
            font-weight: 700;
            padding: 10px;
            color: #888;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

//For hiding sidebar

.sidebar__controls {
  width: 100%;
  height: min-content;
  padding: 20px 20px 20px 25px;
  position: relative;

  &--hidden {
    width: 0px;
    padding: 0;

    & > .sidebar__maenu-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1;
    }
  }
}

.sidebar__maenu-btn {
  height: 32px;
  width: 32px;
  font-size: 2rem;
  background: transparent;
  color: #6610f2;
  display: inline-block;

  margin: 0;

  border: none;

  @media (max-width: $phoneMaxWidth) {
    display: block;
  }
}
