@import "/src/utilities/_variables";

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    //background: #e7d6d6 !important;
}
html{
    scroll-behavior: smooth;
    overflow:auto;
}

.App_card {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #283593;
    text-align: left;
    -webkit-box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
    display: block;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    // height: 100%;
    // height: calc(100% - 100px);

    h1 {
        text-align: left;
        font-size: 24px;
        font-weight: 600;
        background: transparent;
        margin: 0;
    }
}

.btn_global{
    background: #4424bb!important;
    color: #fff!important;
}

