.message {
  display: flex;

  .messageContainer{
    flex: 6;
  }
}
.send{
  margin-left:15%;

}
.sent{
}

.box{
  padding: 50px;
  margin: 5%;

}
.text2{
margin-top: 3%;
  margin-left:5%;
}
.topic{
  height: auto;
  width:auto;
}
.aki{
  height:100px;
  width:450px;
  margin-top: 4%;

}

.submit15{
  margin-top:2%;
}