input {
    display:block;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #fafafa;
    box-shadow:0 0 4px rgba(0,0,0,0.15);
    transition: .3s box-shadow;
    width:100%;
    margin:10px 0;
    padding:20px;
  }
.form-group{
    padding: 15px;
    display:block
}

.button{
    border: 0;
    align-items: center;
    font-size: 15px;
    margin: 20px 0;
    margin-left:50%;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow:  0 0 20px rgba(0,0,0,0.15);
}

.formContainer {
    margin-left:20%;
    margin-top: 10%;
    display: block;
    width: 50%;
}


body {
    width: 100%;
    margin: 0;
    position: fixed;
    overflow: hidden;
  }
  
  .body-container {
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }