@import "/src/utilities/_variables";

.scrollable-div {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.content-table {
  max-height: 100%;
  border-collapse: collapse;
  font-size: 20px;
  margin: 5px 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px 5px 5px 5px;
  // overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.content-table td {
  padding: 14px 15px;
}

.content-table tbody td {
  border-bottom: 3px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: rgb(232, 236, 235);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #4424bb;
}

.btn-info {
  margin-right: 15px;
}


@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  div.logout {
    display: block;
    padding-left: 30%;
  }

  .users {
    display: flex;

    //tweak this to make tables to load more content
    .usersContainer {
      flex: 6;
    }
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  
  
  //moves whole table row content
  tr {
    display: block;
    // padding-right: 10%;
    text-align: right;
    text-decoration: solid;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    height: 100%;

    //does not do anything
    #text {
      position: absolute;
      text-align: right;
      background-color: black;
      left: 1000px;
    }
  }

  //moves the "columns"
  td:before {
    /* Now like a table header */
    display: block;
    position: absolute;
    /* Top/left values mimic padding */
    top: 1px;
    text-align: left;
    left: 1%;
    width: 45%;
    padding-right: 40px;
    padding-bottom: 100px;
    font-weight: bold;
    height: 100%;

    // padding-left: 100px;

    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Id";
  }
  td:nth-of-type(2):before {
    content: "Imię";
  }
  td:nth-of-type(3):before {
    content: "Nazwisko";
  }
  td:nth-of-type(4):before {
    content: "Email";
  }
  td:nth-of-type(5):before {
    content: "Akcje";
  }
}
