.show-table {
    width: 80%;
    margin-left: 8%;
    margin-top: 2%;
    border-left: 3px solid #4424bb;
    border-right: 3px solid #4424bb;
    border-top: 3px solid #4424bb;
}
.thead-dark {
    background-color: #4424bb;
    color: white;
}

.teacher {
    background-color: rgb(102, 171, 228);
}